/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.5.2016, 10:46:49
    Author     : Joni
*/
* {
    font-family: arial, sans;
}
body {
    margin: 0;
}
h1 {
    background-color: firebrick;
    color: white;
    font-size: 40px;
    padding: 8px;
    margin: 15px 0;
    text-align: center;
}
a {
    text-decoration: none;
    color: dodgerblue;
    bbackground-color: dodgerblue;
    font-weight: 400;
    padding: 8px 16px;
    border-radius: 15px;
    border: 1px solid dodgerblue;
    transition: border-color, color;
}
a:hover {
    border-color: blue;
    color: blue;
}
p {
    ttext-align: center;
}
#container {
    text-align: center;
}
#inputID {
    display: none;
}
form {
    margin: 0 auto;
}
fieldset {
    padding: 18px 18px 0;
    margin: 15px auto 29px;
    border: 1px solid blue;
    width: 500px;
}
legend {
    padding: 4px 9px;
    color: blue;
    border: 1px solid blue;
    border-radius: 15px;
    font-weight: 800;
}
label {
    display: block;
    padding: 5px 10px;
}
label span {
    float: left;
    width: 100px;
    text-align: right;
}
label input[type="text"] {
    padding: 3px 4px;
    width: 50%;
}
input[type="submit"] {
    color: blue;
    font-weight: 400;
    padding: 8px 16px;
    margin-top: 15px;
    background-color: white;
    border: 1px solid blue;
    border-radius: 15px;
    text-align: center;
}
input [type="radio"] {
    display: inline-block;
}
/*TABLE */

table {
    margin: 25px auto 0;
    border-collapse: collapse;
    width: 50%;
}
th {
    padding-bottom: 7px;
}
td {
    border-bottom: 1px solid dodgerblue;
    text-align: center;
    padding: 15px 10px 7px;
}
.tauluLinkki {
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 10px;
}