/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.5.2016, 10:46:49
    Author     : Joni
*/
* {
    font-family: Verdana, sans-serif;
}
body {
    margin: 0;
}
h1 {
    border-bottom: 1px solid midnightblue;
    border-top: 1px solid midnightblue;
    color: midnightblue;
    font-size: 40px;
    padding: 8px;
    margin: 15px 0;
    text-align: center;
    font-weight: 500;
}
a {
    text-decoration: none;
    color: black;
    bbackground-color: black;
    font-weight: 400;
    padding: 8px 16px;
    border-radius: 15px;
    border: 1px solid black;
    transition: border-color, color;
}
a:hover {
    border-color: dodgerblue;
    color: dodgerblue;
}
p {
    margin-top: 35px;
}
#container {
    text-align: center;
}
#inputID {
    display: none;
}
form {

}
fieldset {
    padding: 18px 18px 0;
    margin: 15px auto 29px;
    border: 1px solid dodgerblue;
    width: 500px;
}
legend {
    padding: 4px 9px;
    color: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 15px;
    font-weight: 800;
}
label {
    display: block;
    padding: 5px 10px;
}
label span {
    float: left;
    width: 100px;
    text-align: right;
}
label input[type="text"] {
    padding: 3px 4px;
    width: 50%;
}
input[type="submit"] {
    color: dodgerblue;
    font-weight: 400;
    padding: 8px 16px;
    margin-top: 15px;
    background-color: white;
    border: 1px solid dodgerblue;
    border-radius: 15px;
    text-align: center;
}
input[type="submit"]:active{
    border: 0;
}
input [type="radio"] {
    display: inline-block;
}
/*TABLE */

table {
    margin: 25px auto 0;
    border-collapse: collapse;
    width: 60%;
}
th {
    padding-bottom: 7px;
    font-weight: 600;
}
td {
    border-bottom: 1px solid black;
    text-align: center;
    padding: 15px 10px 8px;
}
.tauluLinkki {
    border-radius: 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 10px;
}
footer {
    width: 60%;
    border: 1px solid midnightblue;
    bbackground-color: midnightblue;
    padding: 10px;
    margin: 35px auto 20px;
}
footer p {
    display: inline-block;
    text-align: left;
    margin: 10px 30px;
    font-size: 15px;
    color: midnightblue;
}
#RESTohjeet {
    border: 1px solid mediumvioletred;
}
#RESTohjeet th, #RESTohjeet td {
    text-align: left;
    border: none;
    border-bottom: 1px dashed mediumvioletred;
    padding: 12px;
}
#RESTohjeet th {
    border-bottom: 1px solid mediumvioletred;
}