<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org">
    
<head lang="en">

    <title>Jäsenrekisteri</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <link href="../static/main.css" th:href="@{main.css}" rel="stylesheet" />
    
</head>
<body>
    <h1>Haun tulos</h1>
    <div id="container">

        <p style="margin: 35px;"><a href="#" th:href="@{jasenet.html}">Etusivulle</a></p>

        <table>
            <thead>
                <tr>
                    <th>Etunimi</th>
                    <th>Sukunimi</th>
                    <th>Sähköposti</th>
                </tr>
            </thead>
            <tr th:each="jasen : ${jasenet}">
                <td th:text="${jasen.etunimi}">ETUNIMI</td>
                <td th:text="${jasen.sukunimi}">SUKUNIMI</td>
                <td th:text="${jasen.email}">SÄHKÖPOSTI</td>
                <td class="linkki"><a class="tauluLinkki" href="muokkaaJasen.html" th:href="@{muokkaaJasen.html + '?id=' + ${jasen.id}}">Muokkaa</a>
                <a class="tauluLinkki" href="muokkaaJasen.html" th:href="@{'poista' + '?id=' + ${jasen.id}}">Poista</a></td>
            </tr>
        </table>
        <footer>

            <p>Joni Koivula <br /> TRTKNU15A3</p>
            <p>WWW-sovelluspalvelut<br />Jäsenrekisteri</p>
        </footer>
    </div> <!-- container 1 -->
</body>
</html>