<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org">
    
<head lang="en">

    <title>Jäsenrekisteri</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <!-- <link href="../static/main.css"
          th:href="@{main.css}" rel="stylesheet" /> -->
    
</head>
<body>
<h1>Jäsenet-sivu</h1>

<h2>Tämän alapuolelle listataan kaikki tietokannasta löytyvät jäsenet.</h2>

<div th:each="jasen : ${jasenet}">
   
    <h3 th:text="${'Etunimi: ' + jasen.etunimi}">Etunimi</h3>
    <h3 th:text="${'Sukunimi: ' + jasen.sukunimi}">Sukunimi</h3>
    <a href="muokkaaJasen.html" th:href="@{muokkaaJasen.html + '?id=' + ${jasen.id}}">Muokkaa</a><br />

    <hr />
    
</div>

</body>
</html>