<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org">
    
<head lang="en">

    <title>Jäsenrekisteri</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <link href="../static/main.css" th:href="@{main.css}" rel="stylesheet" />
    
</head>
<body>
    <h1>Muokkaa jäsentä</h1>
    <div id="container">

        <!-- <h2>Tämän alapuolelle näet muokkaamasi jäsenen tiedot.</h2> -->

        <form action='#' th:action="@{muokkaaJasen.html}" method='post'>
            <fieldset><legend th:text="${'ID: ' + jasen.id}"></legend>
            <input type='text' th:value="${jasen.id}" name="id" id="inputID" readonly="" />
            <label><span>Etunimi</span><input type='text' th:value="${jasen.etunimi}" name="etunimi" required="" /></label>
            <label><span>Sukunimi</span><input type='text' th:value='${jasen.sukunimi}' name="sukunimi" required="" /></label>
            <label><span>Sähköposti</span><input type='text' th:value='${jasen.email}' name="email" required="" /></label>
            <input type='submit' value='Vahvista' />
            <br /><br />
            </fieldset>
        </form>
        <p><a href="jasenet" th:href="@{jasenet.html}">Takaisin etusivulle</a></p>
        <footer>
            <p>Joni Koivula <br /> TRTKNU15A3</p>
            <p>WWW-sovelluspalvelut<br />Jäsenrekisteri</p>
        </footer>
   </div> <!-- container -->
</body>
</html>