<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org">
    
<head lang="en">

    <title>Jäsenrekisteri</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    
    <link href="../static/main.css" th:href="@{main.css}" rel="stylesheet" />
    
</head>
<body>
    <h1>Lisää uusi jäsen</h1>
    
    <div id="container">
        
        <form action='#' th:action="@{uusiJasen.html}" th:object="${jasen}" method='post'>
            <fieldset><legend>UUSI JÄSEN</legend>
            <label><span>Etunimi</span><input type='text' th:field="*{etunimi}" required="" /></label>
            <label><span>Sukunimi</span><input type='text' th:field="*{sukunimi}" required="" /></label>
            <label><span>Sähköposti</span><input type='text' th:field="*{email}" required="" /></label>
            <label><span>&nbsp;</span><input type='submit' value='Vahvista' /></label>
            <br /><br />
            </fieldset>
        </form>

        <p><a href="jasenet" th:href="@{jasenet.html}">Takaisin etusivulle</a></p>
    </div> <!-- container -->
</body>
</html>